<template> 
  <div class="hello">
    <h1>{{ msg }}</h1>
    <b-table striped hover :items="products"></b-table>    


  </div>
</template>

<script>
 var products = [
  {Nr: 1, name: 'Liquid Soul', description: 'Liquified essence of once alive human being', price: 100},
  {Nr: 2, name: 'Half-baked toast', description: 'The definition of never-Done', price: 50},
  {Nr: 3, name: 'Unboxed Laptop', description: 'The whole package without all the fun', price: 600},
  {Nr: 4, name: 'A Shoe', description: 'Where it will get you by itself?', price: 20}
];
export default {
  name: 'hello',
  data () {
    return {
      msg: 'Edurio homework - Raimonds Jermaks',
      rows: [],
      products: products,
      
    }
  },

  
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2, h3 {
  font-weight: bold;
  margin-bottom:22px;
}
h3 {
  float:left;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

</style>
